*[class^="bw"],
*[class^="border-width"] {
	border-style: solid;
}
.br_dotted,
.br_dashed,
.br_solid,
.br_none,
.border_dotted,
.border_dashed,
.border_solid,
.border_none {
	border-width: 1px;
}

/*
Border Type

Depends on base border module in _borders.css

border_none           - none
br_dotted         - dotted
br_dashed         - dashed
br_solid          - solid
  
markup:
<div class="{$modifiers} br_black bw_1 p_3">{$modifiers} border</div>

Styleguide 103.1

*/

@include loop-style(border-style);
@media #{$medium-only} {
	@include loop-style(border-style, $bp-medium);
}

@media #{$large-up} {
	@include loop-style(border-style, $bp-large);
}

/*
Border Color
Border black has attached alpha 

br_primary            - border color
br_secondary             - border color
br_alert             - border color
br_warning             - border color
br_info            - border color
br_highlight             - border color


markup:
<div class="{$modifiers} p_3 br_solid bw_3">{$modifiers} border</div>

Styleguide 103.2

*/

/*
Border Alpha Black

Border black has attached alpha modifiers to allow for greater flexablity 

br_black             - border black with alpha of 100%
br_black-0             - border black with alpha of 2%
br_black-1             - border black with alpha of 10%
br_black-2             - border black with alpha of 20%
br_black-3             - border black with alpha of 30%
br_black-4             - border black with alpha of 40%
br_black-5             - border black with alpha of 50%
br_black-6             - border black with alpha of 60%
br_black-7             - border black with alpha of 70%
br_black-8             - border black with alpha of 80%
br_black-9             - border black with alpha of 90%

markup:
<div class="{$modifiers} p_3 br_solid br_5 bg_primary-1 white">{$modifiers} border</div>

Styleguide 103.2.1

*/

/*
  Border Alpha White
  
  Border white has attached alpha modifiers to allow for greater flexablity 
  
  br_white             - border white with alpha of 100%
  br_white-0             - border white with alpha of 2%
  br_white-1             - border white with alpha of 90%
  br_white-2             - border white with alpha of 80%
  br_white-3             - border white with alpha of 70%
  br_white-4             - border white with alpha of 60%
  br_white-5             - border white with alpha of 50%
  br_white-6             - border white with alpha of 40%
  br_white-7             - border white with alpha of 30%
  br_white-8             - border white with alpha of 20%
  br_white-9             - border white with alpha of 10%
  
  markup:
  <div class="{$modifiers} p_3 br_solid br_5 bg_primary-1 c_white">{$modifiers} border</div>
  
  Styleguide 103.2.2
  
  */
.br_black {
	border-color: $black;
}
.br_black-0 {
	border-color: rgba($black, 0.02);
}
.br_black-1 {
	border-color: rgba($black, 0.1);
}
.br_black-2 {
	border-color: rgba($black, 0.2);
}
.br_black-3 {
	border-color: rgba($black, 0.3);
}
.br_black-4 {
	border-color: rgba($black, 0.4);
}
.br_black-5 {
	border-color: rgba($black, 0.5);
}
.br_black-6 {
	border-color: rgba($black, 0.6);
}
.br_black-7 {
	border-color: rgba($black, 0.7);
}
.br_black-8 {
	border-color: rgba($black, 0.8);
}
.br_black-9 {
	border-color: rgba($black, 0.9);
}

@if ($short-names-only == true) {
	.border_black {
		@extend .br_black;
	}
	.border_black-0 {
		@extend .br_black-0;
	}
	.border_black-1 {
		@extend .br_black-1;
	}
	.border_black-2 {
		@extend .br_black-2;
	}
	.border_black-3 {
		@extend .br_black-3;
	}
	.border_black-4 {
		@extend .br_black-4;
	}
	.border_black-5 {
		@extend .br_black-5;
	}
	.border_black-6 {
		@extend .br_black-6;
	}
	.border_black-7 {
		@extend .br_black-7;
	}
	.border_black-8 {
		@extend .br_black-8;
	}
	.border_black-9 {
		@extend .br_black-9;
	}
}

.br_white {
	border-color: $white;
}
.br_white-0 {
	border-color: rgba($white, 0.02);
}
.br_white-1 {
	border-color: rgba($white, 0.1);
}
.br_white-2 {
	border-color: rgba($white, 0.2);
}
.br_white-3 {
	border-color: rgba($white, 0.3);
}
.br_white-4 {
	border-color: rgba($white, 0.4);
}
.br_white-5 {
	border-color: rgba($white, 0.5);
}
.br_white-6 {
	border-color: rgba($white, 0.6);
}
.br_white-7 {
	border-color: rgba($white, 0.7);
}
.br_white-8 {
	border-color: rgba($white, 0.8);
}
.br_white-9 {
	border-color: rgba($white, 0.9);
}

@if ($short-names-only == true) {
	.border_white {
		@extend .br_white;
	}
	.border_white-0 {
		@extend .br_white-0;
	}
	.border_white-1 {
		@extend .br_white-1;
	}
	.border_white-2 {
		@extend .br_white-2;
	}
	.border_white-3 {
		@extend .br_white-3;
	}
	.border_white-4 {
		@extend .br_white-4;
	}
	.border_white-5 {
		@extend .br_white-5;
	}
	.border_white-6 {
		@extend .br_white-6;
	}
	.border_white-7 {
		@extend .br_white-7;
	}
	.border_white-8 {
		@extend .br_white-8;
	}
	.border_white-9 {
		@extend .br_white-9;
	}
}

.border_transparent {
	border-color: transparent;
}

/*
	Border Radius
  
	Apply border radius to objects by adding full or partial classes for border-radius
  
	br_square           - All square
	br_radius        - All with $global-radus
	br_round         - All corners with 99(px)
	br_circle          - All corders at 100%
	br-tl_square           - top left square
	br-tl_radius        - top left with $global-radus
	br-tl_round         - top left corners with 99(px)
	br-tl_circle          - top left corders at 100%
	br-bl_square           - bottom left square
	br-bl_radius        - bottom left with $global-radus
	br-bl_round         - bottom left corners with 99(px)
	br-bl_circle          - bottom left corders at 100%
  
  
	markup:
	<div class="{$modifiers} p_3 br_black br_solid br_2">{$modifiers} border</div>
  
	Styleguide 103.3
  
  */

@include loop-style(border-radius);
@include loop-style(border-top-right-radius);
@include loop-style(border-top-left-radius);
@include loop-style(border-bottom-right-radius);
@include loop-style(border-bottom-left-radius);

@each $val-name, $val in map-get($valueParams, radius) {
	.#{$val-name} {
		&,
		.switch-paddle,
		.switch-paddle::after {
			border-radius: $val;
		}
	}
}

/*
  Border Colors
  
  Border black has attached alpha   
  
  br_primary            	  - border color primary
  br_alert            	    - border color alert
  br_warning            	  - border color warning
  br_success            	  - border color success
  br_primary-1             - border color mixed with white
  br_primary-2             - border color mixed with white
  br_primary-3             - border color mixed with white
  br_primary-4             - border color mixed with white
  br_primary-5             - border color mixed with white
  br_primary-n1             - border color mixed with black
  br_primary-n2             - border color mixed with black
  br_primary-n3             - border color mixed with black
  br_primary-n4             - border color mixed with black
  br_primary-n5             - border color mixed with black 
  
  markup:
  <div class="{$modifiers} p_3 br_solid br_1 c_white">{$modifiers} border</div>
  
  Styleguide 103.4
  
  */

@each $color-name, $hex-value in $acc-palette {
	@include color-loop(border-color, $color-name, $hex-value);
}

/*
    Border Width
   
    Manipulation of borders with thisese classes either all border or with single borders   
  
    br_0            	- all border with no border
    br_1            	- all borders with 1px
    br_2            	- all borders with .125rem
    br_3            	- all borders with .25rem
    br_4            	- all borders with .5rem
    br_5            	- all borders with rem
    br-l_0.br_1            	- left border with no border
    br-l_1.br_1            	- left borders with 1px
    br-l_2.br_1            	- left borders with .125rem
    br-l_3.br_1            	- left borders with .25rem
    br-l_4.br_1            	- left borders with .5rem
    br-l_5.br_1            	- left borders with rem
  
  
    markup:
    <div class="{$modifiers} p_3 br_solid br_black c_black">{$modifiers} border</div>
  
    Styleguide 103.5
  
   */

@include loop-style(border-width);
@include loop-style(border-top-width);
@include loop-style(border-right-width);
@include loop-style(border-left-width);
@include loop-style(border-bottom-width);
