.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}
.table {
	display: table;
}
.table-cell {
	display: table-cell;
}
.none {
	display: none;
}

@media #{$medium-up} {
	.block#{$bp_medium} {
		display: block;
	}
	.inline-block#{$bp_medium} {
		display: inline-block;
	}
	.inline#{$bp_medium} {
		display: inline;
	}
	.table#{$bp_medium} {
		display: table;
	}
	.table-cell#{$bp_medium} {
		display: table-cell;
	}
	.none#{$bp_medium} {
		display: none;
	}
}
@media #{$large-up} {
	.block#{$bp_large} {
		display: block;
	}
	.inline-block#{$bp_large} {
		display: inline-block;
	}
	.inline#{$bp_large} {
		display: inline;
	}
	.table#{$bp_large} {
		display: table;
	}
	.table-cell#{$bp_large} {
		display: table-cell;
	}
	.none#{$bp_large} {
		display: none;
	}
}

.vertical-align_top {
	vertical-align: top;
}
.vertical-align_middle {
	vertical-align: middle;
}
.vertical-align_bottom {
	vertical-align: bottom;
}
