/*
Utility Classes (UCs)

 Utility Classes(UCs) are classes that control single styles allowing for quick manipulations of the appearance of the DOM.  When combined with other UCs and toggled with javascripts you can create complex and new UI without the need of writing styles into the system. Examples of some UC built UIs can be found here as reciepes. Learn more about UCs in the Introduction section
 
 Styleguide 100.0
*/
/* No styleguide reference. */
@import "introduction";
/*
	UC: Counters

	Add counters infront of collections without the need of an OL or UL. Counters cannot be nested!

	Styleguide 106.0
 
 */
@import "counters";
/*
UC: Margin & Padding

Padding and Margins are the most common usage for Utility Classes.  Spacing UC's are responsive and can be postfixed with `-medium` and with `-large` to have finer control on the spacing of objects.

Styleguide 101.0
*/
/* No styleguide reference. */
@import "spacing";

@import "display";

/*
  UC: Typography

  Control size, weight, decoration, white-space, and overflow with these utility classes 

  Styleguide 102.0
 */

@import "typoography";

/*
  UC: Background 
 
  Background of containers can be easily maniputlated with textures, colors, and shadows.  
  
  Styleguide 104.0
*/
/* No styleguide reference. */
@import "background";
@import "shadows";
@import "textures";

/*
  UC: Hover

  Decorate containers and text to show user intereaction with simple hover, and focus effects. 

  Styleguide 109.0
*/
/* No styleguide reference. */
@import "hover";
/*
 UC: Borders

  Borders a complex utility that demands a combo UCs to acheive their effect. The three UCs that must be used in combo are 'border_X','border-width_X', and 'border-color_X'.  So to make an object with single black pixel border that is solid you would have to add '.border_solid.border-width_1.border_black' 

  Styleguide 103.0
 
 */
@import "border";

@import "flex";

/*

 /*
	UC: Opacity

	A subtle set of  UCs that can make objects less interactive or combine to show a level of focus.

	Styleguide 105.0
 
 */
@import "opacity";


