$teal:#198dae;
$dark-grey:#5a5c69;
$light-grey:#c5bfba;
$green:#09911f;
$orange:#e18725;
$red: #cb241c;
$blue:#4f74bf;
$green-alt:#509f6c;
$purple:#735dba;
$magenta:#c45e99;
$acc-blue:#00386b;
$white:#fff;
$black:#111;

$acc-palette: (
  primary: $teal,
  secondary: $dark-grey,
  success: $green,
  warning: $orange,
  alert:$red,
  navigation: $blue,
  selected:$green-alt,
  info:$purple,
  highlight:$magenta,
  acc:$acc-blue,
  secondaryalt: $light-grey
);

%hover-text-white {
  color: $white;
}

%hover-text-black {
  color: $black;
}
 /*
 
  Colors of the Design  

  Strathmore color is based off of the ACC Scrub Colors  

  back_primary                  - Scrub Teal used for primary colors often this color is swapped out for the product color of the product. This color can be found on most UI items. 
  back_secondary                - Grey used secondary colors and secondary actions
  back_navigation               - Scrub Blue reserved for navigation items. IE next, previous, forard, back buttons. 
  back_info                     - Scrub Magenta for information 
  back_highlight                - Scrub Purple used for highlighting 
  back_success                  - Action color for Success and Complete
  back_warning                  - Action color for warnings
  back_alert                    - Action colors for alerts and errors
  back_acc                      - ACC Blue  

  markup:
  <div class="{$modifiers} cell auto text-center color_white padding_2">{$modifiers}</div>  

  Styleguide 0.4.0
 
 */



.back_black{ background-color:$black;}
.back_black-1{ background-color:rgba(0,0,0,.9);}
.back_black-2{ background-color:rgba(0,0,0,.8);}
.back_black-3{ background-color:rgba(0,0,0,.7);}
.back_black-4{ background-color:rgba(0,0,0,.6);}
.back_black-5{ background-color:rgba(0,0,0,.5);}
.back_black-6{ background-color:rgba(0,0,0,.4);}
.back_black-7{ background-color:rgba(0,0,0,.3);}
.back_black-8{ background-color:rgba(0,0,0,.2);}
.back_black-9{ background-color:rgba(0,0,0,.1);}
.back_black-0{ background-color:rgba(0,0,0, .02);}

.back_white{ background-color:$white}
.back_white-1{ background-color:rgba(255,255,255,.9);}
.back_white-2{ background-color:rgba(255,255,255,.8);}
.back_white-3{ background-color:rgba(255,255,255,.7);}
.back_white-4{ background-color:rgba(255,255,255,.6);}
.back_white-5{ background-color:rgba(255,255,255,.5);}
.back_white-6{ background-color:rgba(255,255,255,.4);}
.back_white-7{ background-color:rgba(255,255,255,.3);}
.back_white-8{ background-color:rgba(255,255,255,.2);}
.back_white-9{ background-color:rgba(255,255,255,.1);}
.back_white-0{ background-color:rgba(255,255,255,.02);}