/*
    Tabs

    markup:
    <ul class="texture_light tabs"data-active-collapse="true"data-tabs id="collapsing-tabs">
        <li class="tabs-title is-active"><a href="#panel1c"aria-selected="true">Tab 1</a></li>
        <li class="tabs-title"><a href="#panel2c">Tab 2</a></li>
        <li class="tabs-title"><a href="#panel3c">Tab 3</a></li>
        <li class="tabs-title"><a href="#panel4c">Tab 4</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="collapsing-tabs">
        <div class="tabs-panel is-active" id="panel1c">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="tabs-panel" id="panel2c">
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
        </div>
        <div class="tabs-panel" id="panel3c">
            <img class="thumbnail" src="assets/img/generic/rectangle-3.jpg">
        </div>
        <div class="tabs-panel" id="panel4c">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    Styleguide 20.30

*/
.tabs {
    border: unset;
    border-bottom: get-css-size(border-width,2) solid get-themecolor(secondary, 3);//#bdbec3;
    padding: get-css-size(padding,3) get-css-size(padding,3) get-css-size(padding,2);
    box-shadow: make-shadow(2,"inset",#000,.2);
}

.tabs-title{
    margin-bottom: get-css-size(margin,n2);
    border-color: get-themecolor(secondary, 3);
    >a {
        border-top-right-radius: get-css-size(border-radius, radius);
        border-top-left-radius: get-css-size(border-radius, radius);
        font-size: unset;
        @extend %hover_transition;
        &:hover{
            background: get-themecolor(secondary, 4);
            text-decoration: underline;        
        }
    }
}

.tabs .tabs-title.is-active {  
    margin-bottom:get-css-size(margin,n3);
    padding-bottom:get-css-size(padding,n3); 
    a{
        border-width: get-css-size(border-width,2);
        border-bottom-width: 0;
        border-color: inherit; 
         border-style: solid;
        &:hover{ background: white;}
    }
}


/*
    RECIEPE: Tabs

    markup:
    <ul class="texture_light tabs border-color_primary back_primary-3" data-active-collapse="true"data-tabs id="collapsing-tabs">
        <li class="tabs-title is-active"><a class="hover:back_white border-color_primary"href="#panel1c"aria-selected="true">Tab 1</a></li>
        <li class="tabs-title"><a class="hover:white hover:back_primary" href="#panel2c">Tab 2</a></li>
        <li class="tabs-title"><a class="hover:white hover:back_primary" href="#panel3c">Tab 3</a></li>
        <li class="tabs-title"><a class="hover:white hover:back_primary" href="#panel4c">Tab 4</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="collapsing-tabs">
        <div class="tabs-panel is-active" id="panel1c">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="tabs-panel" id="panel2c">
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
        </div>
        <div class="tabs-panel" id="panel3c">
            <img class="thumbnail" src="assets/img/generic/rectangle-3.jpg">
        </div>
        <div class="tabs-panel" id="panel4c">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    Styleguide 20.30.1

*/