$texture-light:"../img/whisper.png";
$texture-medium:"../img/billie-holiday-speck.png";
$texture-dust:"../img/dust.png";
$texture-dark:"../img/cross_stripes.png";
$texture-disabled:"../img/cross_disabled.png";
$texture-cross:"../img/cross_color.png";



%texture-base{
	background-attachment:local;
	background-repeat: repeat;
	background-position: top right;
	background-origin:border-box;
}

@mixin texture-light(){
	@extend %texture-base;
	background-image: url( $texture-light );
}
@mixin texture-medium{
	@extend %texture-base;
	background-image: url( $texture-medium );
}
@mixin texture-dust{
	@extend %texture-base;
	background-image: url( $texture-dust );
}
@mixin texture-medium-shaded($level:0){
	@extend %texture-base;
	background-color: scale-color(map-get($acc-palette, secondary),$lightness: 20% * $level );
	background-image: url( $texture-medium );
}

@mixin texture-dark(){
	@extend %texture-base;
	background-image: url( $texture-dark );
}

@mixin texture-disabled(){
	@extend %texture-base;
	background-image: url( $texture-disabled );
}

@mixin texture-cross(){
	@extend %texture-base;
	background-image: url( $texture-cross );
}


/*
	Textures

	All textures in the Strathmore design are a subtle variation of transparent.   Allowing for colors to bleed through from behind.  Different textures have intentions or are reserved for certain usagaes. 

	.texture_light                       		- Light textures is reserved for the base of a page where it can gve a soft area for text or cards to live on top of. 
	.texture_medium            					- medium texture are used for area that are hidden away.  Collapsable navs, areas, or sidebars ususaly use the medium texture.
	.texture_dust            					- Dust is the most transparent texture allowing for the color of the background to show through the most.  This is used for the painted tops of cards, or score bars.
	.texture_dark              					- This texture predominatly used on the footer. Its rich black will alway requrie reversed text and buttons to be readable.  
	.texture_cross            					- A mostly transparent cross texture used for alternating rows of content when a little extra texture is needed.
	.texture_disabled              				- This texture is used to paint disabled buttons and ui items giving it a greyed and X'ed out appearand. 

	markup:
	<div class="{$modifiers} padding_5 border-color_black-8 border-width_1 border_solid text-center back_primary-4">{$modifiers} with a light primary color background</div>

	Styleguide 0.3

 */
