$grid-column-count: 12;
$brand-level: 0; // Any Number between 0 and 3.
$product-brand-color: #198dae;

$optimal-characters: 65;
$crushed: 1.125;
$tight: 1.35;
$normal: 1.5;
$loose: 1.65;
$airy: 1.875;
$baseline-modifier: 1.5;

$ms-base: 1em;
$base-font-size: $ms-base;
$baseline: ($baseline-modifier * $base-font-size) / $base-font-size * 1rem; // Unitless item * PIXEL Size / Font PIXEL Converted to REM
// $line-height:strip-unit($baseline-modifier);
$ms-ratio: 1.2;
$ms-ratio-sm: 1.125;
$ms-ratio-md: 1.2;
$ms-ratio-lg: 1.25;
$vertical-space: $baseline-modifier * $ms-base / $ms-base * 1rem;

$bp-xsm: 0;
$bp-sm: 480px;
$bp-md: 640px;
$bp-lg: 1024px;
$bp-xl: 1200px;
$bp-xxl: 1440px;

$global-border-radius: 6px;
$global-border-round: 25px;

$bp-small: "\\3A small";
$bp_medium: "\\3A medium";
$bp_large: "\\3A large";
