/*
	Opacity Levels

	Set the Opacity of an object.  Unlike the 

	.opacity_0                        - Opacity of 0%
	.opacity_1                        - Opacity of 10%
	.opacity_2                        - Opacity of 20%
	.opacity_3                        - Opacity of 30%
	.opacity_4                        - Opacity of 40%
	.opacity_5                        - Opacity of 50%
	.opacity_6                        - Opacity of 60%
	.opacity_7                        - Opacity of 70%
	.opacity_8                        - Opacity of 80%
	.opacity_9                        - Opacity of 90%
	.opacity_none                     - No Opacity

	markup:
	<div class="{$modifiers} br_1 br_solid br_white p_2 bg_warning c_white">{$modifiers}</div>

	sg-wrapper: 
	<div class="p_4 bg_primary">
		<sg-wrapper-content/>
	</div>

	Styleguide 105.1
 
 */
.opacity_0 {
	opacity: 0;
}
.opacity_1 {
	opacity: 0.1;
}
.opacity_2 {
	opacity: 0.2;
}
.opacity_3 {
	opacity: 0.3;
}
.opacity_4 {
	opacity: 0.4;
}
.opacity_5 {
	opacity: 0.5;
}
.opacity_6 {
	opacity: 0.6;
}
.opacity_7 {
	opacity: 0.7;
}
.opacity_8 {
	opacity: 0.8;
}
.opacity_9 {
	opacity: 0.9;
}
.opacity_none {
	opacity: 1;
}

/*
	Opacity: Hover

	Set the Opacity of an object to 100% while hovered.

	.opacity_1.hover:opacity                        - Opacity of 10%

	markup:
	<div class="{$modifiers} br_1 br_solid br_white p_2 bg_warning c_white">{$modifiers}</div>

	sg-wrapper: 
	<div class="p_4 bg_primary">
		<sg-wrapper-content/>
	</div>

	Styleguide 105.2
 
 */
.hover\:opacity {
	@extend %hover_transition;
}
.hover\:opacity:hover {
	opacity: 1;
}
