/*
	Margin CSS

	quickly alter the margin around an object 

	.margin_auto.small-6              - Margin 0 auto
	.margin_0              - All margins set to 0
	.margin_1              - All margins set to 1px
	.margin_2              - All margins set to 1/4 of global margin
	.margin_3              - All margins set to 1/2 of global margin
	.margin_4              - All margins set to global margin
	.margin_5              - All margins set to 2x of global margin 
	.margin-top_4          - Top margin set to global margin
	.margin-right_4        - Right margin set to global margin
	.margin-left_4         - Left margin set to global margin
	.margin-bottom_4       - Bottom margin set to global margin
	.margin-top_n4          - Top margin set to  negative global margin
	.margin-right_n4        - Right margin set to  negative global margin
	.margin-left_n4         - Left margin set to negative  global margin
	.margin-bottom_n4       - Bottom margin set to negative  global margin



	markup:
	<div class="{$modifiers} padding_2  back_primary text-center color_white cell auto opacity_5">Container With Margins</div>

 	sg-wrapper:
	<div class="back_warning-3 clearfix grid-x border-width_1 border_solid">
	   <sg-wrapper-content/>
	</div>

	Styleguide 80.20

 */

//@mixin size-loop( $style-name:null , $size-variation:null ,$multiplier:null , $breakpoint:null )

.margin_auto{ margin:0 auto;}
@include size-loop(margin, positive, 1rem, "", "");
@include size-loop(margin, negative, 1rem, "", "");
@include size-loop(margin-top, positive, 1rem, "", "");
@include size-loop(margin-bottom , positive, 1rem, "", "");
@include size-loop(margin-right, positive, 1rem, "", "");
@include size-loop(margin-left, positive, 1rem, "", "");

@include size-loop(margin-top, negative, 1rem, "", "");
@include size-loop(margin-bottom , negative, 1rem, "", "");
@include size-loop(margin-right, negative, 1rem, "", "");
@include size-loop(margin-left, negative, 1rem, "", "");



/*
	Padding CSS

	quickly alter the padding of an object 

	.padding_0              - All paddings set to 0
	.padding_1              - All paddings set to 1px
	.padding_2              - All paddings set to 1/4 of global padding
	.padding_3              - All paddings set to 1/2 of global padding
	.padding_4              - All paddings set to global padding
	.padding_5              - All paddings set to 2x of global padding 
	.padding-top_4          - Top padding set to global padding
	.padding-right_4        - Right padding set to global padding
	.padding-left_4         - Left padding set to global padding
	.padding-bottom_4       - Bottom padding set to global padding

	markup:
	<div class="{$modifiers} border_solid border_transparent back_alert-3  text-center"><div class="back_primary-5 text-center">Content With Padding</div></div>

	Styleguide 80.30

 */

@include size-loop(padding, positive, 1rem, "", "");
@include size-loop(padding-top, positive, 1rem, "", "");
@include size-loop(padding-bottom , positive, 1rem, "", "");
@include size-loop(padding-right, positive, 1rem, "", "");
@include size-loop(padding-left, positive, 1rem, "", "");
