/*
	Textures

	All textures in the Strathmore design are a subtle variation of transparent.   Allowing for colors to bleed through from behind.  Different textures have intentions or are reserved for certain usagaes.  It is easy to apply textures using the texture utlities. 

	.texture_light                       		- Light textures is reserved for the base of a page where it can gve a soft area for text or cards to live on top of. 
	.texture_medium            					- medium texture are used for area that are hidden away.  Collapsable navs, areas, or sidebars ususaly use the medium texture.
	.texture_dust            					- Dust is the most transparent texture allowing for the color of the background to show through the most.  This is used for the painted tops of cards, or score bars.
	.texture_dark              					- This texture predominatly used on the footer. Its rich black will alway requrie reversed text and buttons to be readable.  
	.texture_cross            					- A mostly transparent cross texture used for alternating rows of content when a little extra texture is needed.
	.texture_disabled              				- This texture is used to paint disabled buttons and ui items giving it a greyed and X'ed out appearand. 

	markup:
	<div class="{$modifiers} padding_5 border-color_black-8 border-width_1 border_solid text-center">{$modifiers}</div>

	Styleguide 81.3

 */



.texture_light{
	@include texture-light;
}
.texture_medium{
	@include texture-medium;
}
.texture_dark{
	@include texture-dark;
}
.texture_dust{
	@include texture-dust;
}
.texture_disabled,.disabled, .disabled:hover{
	@include texture-disabled;
}
.texture_cross{
	@include texture-cross;
}


/*
	Textures Plus Background Colors

	All textures are slightly transparent.  You can acheive different effects with using the combo of textures and background colors.  

	.texture_light.back_primary              	- textures are slightly transparent so they can be colored with background-color classess
	.texture_dust.back_primary              	- textures are slightly transparent so they can be colored with background-color classess
	.texture_medium.back_primary              	- textures are slightly transparent so they can be colored with background-color classess
	.texture_dark.back_primary              	- textures are slightly transparent so they can be colored with background-color classess
	.texture_light.back_alert              		- textures are slightly transparent so they can be colored with background-color classess
	.texture_medium.back_alert             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_dust.back_alert             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_dark.back_alert             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_cross.back_alert             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_disabled.back_alert             	- textures are slightly transparent so they can be colored with background-color classess

	markup:
	<div class="{$modifiers} padding_5 border-color_black-8 border-width_1 border_solid text-center">{$modifiers}</div>

	Styleguide 81.4

 */

 /*
	Textures Plus Background Shades

	All textures are slightly transparent.  You can further shade the background colors to achieve even more flexablity.  

	.texture_light.back_primary              	- textures are slightly transparent so they can be colored with background-color classess
	.texture_dust.back_primary              	- textures are slightly transparent so they can be colored with background-color classess
	.texture_medium.back_primary              	- textures are slightly transparent so they can be colored with background-color classess
	.texture_dark.back_primary              	- textures are slightly transparent so they can be colored with background-color classess
	.texture_light.back_info              		- textures are slightly transparent so they can be colored with background-color classess
	.texture_medium.back_info             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_dust.back_info             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_dark.back_info             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_cross.back_info             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_disabled.back_info             	- textures are slightly transparent so they can be colored with background-color classess
	.texture_light.back_warning              		- textures are slightly transparent so they can be colored with background-color classess
	.texture_medium.back_warning             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_dust.back_warning             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_dark.back_warning             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_cross.back_warning             		- textures are slightly transparent so they can be colored with background-color classess
	.texture_disabled.back_warning             	- textures are slightly transparent so they can be colored with background-color classess

	markup:
	<div class="grid-x">
		<div class="{$modifiers}-n3 padding_3 cell auto text-center color_white">n3</div>
		<div class="{$modifiers}-n1 padding_3 cell auto text-center color_white">n1</div>
		<div class="{$modifiers}-1 padding_3 cell auto text-center color_white">1</div>
		<div class="{$modifiers}-3 padding_3 cell auto text-center color_white">3</div>
	</div>

	Styleguide 81.5

 */