/*
    RECIPE: Mobile Footer Nav

    Placed in applications used for navigation in mobile apps.

    markup:
    <div id="nav"class="back_acc grid-x color_white shadow_3 font_2 small-12">
    <a href="#/"class="auto text-center padding_2 cell center clear color_secondary-5 color_white hover-text_primary-4 margin-bottom_0 router-link-exact-active router-link-active"><i class="fas margin_2 fa-sign-out-alt"></i></a>
    <a href="#/search"class="auto text-center padding_2 cell center clear color_secondary-5 color_white hover-text_primary-4 margin-bottom_0"><i class="fas margin_2 fa-search"></i></a>
    <a href="#/shared"class="auto text-center padding_2 cell center clear color_secondary-5 color_white hover-text_primary-4 margin-bottom_0"><span class="fa-layers fa-fw"><i class="fas margin_2 fa-share-alt-square"></i></span></a
    ><a href="#/history"class="auto text-center padding_2 cell center clear color_secondary-5 color_white hover-text_primary-4 margin-bottom_0"><span class="fa-layers fa-fw"><i class="fas margin_2 fa-history"></i></span></a>
    <a href="#/about"class="auto text-center padding_2 cell center clear color_secondary-5 color_white hover-text_primary-4 margin-bottom_0"><i class="fas margin_2 fa-info-square"></i></a>
    </div>

    Styleguide 200.001
*/


/*
    RECIEPE: Button Group

    markup:
    <div class="button-group">
        <a class="button is-active primary"><i class="far icon-toggle_check"></i> One</a>
        <a class="button secondary"><i class="far icon-toggle_check"></i> Two</a>
        <a class="button secondary"><i class="far icon-toggle_check"></i> Three</a>
    </div>

    Styleguide 200.002
*/


/* 
    Grid Button Splash

    markup:
    <div class="grid-y line-height_1 " style="width:412px;height: 732px; background-image:url('https://picsum.photos/412/732/?image=857')">
        <div class="cell small-6 grid-x">
            <div class="small-8 cell color_white padding_5 line-height_1 text-left">
                <h1 class="font-size_5 font_display line-height_1">Annual Scientific Session</h1>
                <h2 class="font-size_1 font_bold">2018 | New Orleans</h2>
            </div>
            <div class="small-4 cell color_white text-center">
                <div class="grid-y grid-frame">
                    <div class="small-6 cell padding-top_5 shaddow_n2 border_solid hover_back_primary-n3 border_white-9 border-width_1 back_black-9 "><i class="fas margin_2 fa-users-class font_4"></i>
                    <div class="font_0 margin-top_3">Conference</div></div>
                    <div class="small-6 cell padding-top_5 shaddow_n2 border_solid hover_back_primary-n3 border_white-9 border-width_1 back_black-8"><i class="fas margin_2 fa-users-crown font_4"></i>
                    <div class="font_0 margin-top_3">After Party</div></div>
                </div>
            </div>
        </div>
        <div class="cell small-3 grid-x">
            <div class="small-4 cell shadow_n1 border_white-9 border-width_1 border_solid hover_back_primary-n3 back_black-8 color_white padding-top_5 text-center"><i
                    class="fas margin_2 fa-calendar-alt font_4"></i>
                <div class="font_0 margin-top_3">Events</div>
            </div>
            <div class="small-4 cell shadow_n2 border_white-9 border-width_1 border_solid hover_back_primary-n3 back_black-7 color_white padding-top_5 text-center"><i
                    class="fas margin_2 fa-map-marked  font_4"></i>
                <div class="font_0 margin-top_3">Maps</div>
            </div>
            <div class="small-4 cell shadow_n3 border_white-9 border-width_1 border_solid hover_back_primary-n3 back_black-5 color_white padding-top_5 text-center"><i
                    class="fas margin_2 fa-cogs font_4"></i>
                <div class="font_0 margin-top_3">Options</div>
            </div>
        </div>
        <div class="cell small-3 grid-x">
            <div class="small-4 cell shadow_n2 border_white-9 border-width_1 border_solid hover_back_primary-n3 back_black-7 color_white padding-top_5 text-center"><i
                    class="fas margin_2 fa-alarm-clock font_4"></i>
                <div class="font_0 margin-top_3">Upcoming</div>
            </div>
            <div class="small-4 cell shadow_n3 border_white-9 border-width_1 border_solid hover_back_primary-n3 back_black-5 color_white padding-top_5 text-center"><i
                    class="fas margin_2 fa-badge-check font_4"></i>
                <div class="font_0 margin-top_3">Claim Credits</div>
            </div>
            <div class="small-4 cell shadow_n3 border_white-9 border-width_1 border_solid hover_back_primary-n3 back_black-3 color_white padding-top_5 text-center"><i
                    class="fas margin_2 fa-chess-rook font_4"></i>
                <div class="font_0 margin-top_3">Find a Room</div>
            </div>
        </div>
    </div>  

    Styleguide 200.003
    */