$debug-trace: true !default;

@mixin color-loop($key, $color-name, $color){
    $white-mix:     map-get($values, percent-positive);
    $black-mix:     map-get($values, percent-negative);
	  $short-name:    #{ get-css-shortname($key) }_#{ $color-name }; 	 
  	$long-name:     #{ get-css-longname($key)  }_#{  $color-name };	
  	$style:			    get-css-style($key); 
    @if $debug-trace{ 
        @debug "Color Loop for #{$key} painting it with #{$color-name}";

    }
      #{$short-name}{
            #{$style}: $color!important;
      }   
  		@each  $val-name, $val in $white-mix {
        #{$short-name}-#{$val-name}{
            #{$style}:mix(white, $color,  $val) !important;
        }
      }
      @each  $val-name, $val in $black-mix {
        #{$short-name}-#{$val-name}{
  		    #{$style}:mix(black, $color,  $val) !important;
  		  }
      }
}

%hover-cursor{
     cursor: pointer;
}
%hover-text-white{ color: $white; }
%hover-text-black{ color: $black; }

@mixin hover-loop($key, $color-name, $color){
    $white-mix:     map-get($values, percent-positive);
    $black-mix:     map-get($values, percent-negative);
    $short-name:    #{ get-css-shortname($key) }_#{ $color-name };   
    $long-name:     #{ get-css-longname($key)  }_#{  $color-name }; 
    $style:         get-css-style($key); 
    @if $debug-trace{ 
        @debug "Color Loop for #{$key} painting it with #{$color-name}";

    }
      #{$short-name}:hover{
            @extend %hover-cursor;
            #{$style}: $color !important;
            @if( $key == "hover-bg" ){
              
            }
      }   
      @each  $val-name, $val in $white-mix {
        #{$short-name}-#{$val-name}:hover{
            @extend %hover-cursor;
            #{$style}:mix(white, $color,  $val) !important;
        }
      }
      @each  $val-name, $val in $black-mix {
        #{$short-name}-#{$val-name}:hover{
            @extend %hover-cursor;
          #{$style}:mix(black, $color,  $val) !important;
        }
      }
}