$debug-trace: true !default;

@mixin size-loop( $key:null, $size-variation:null, $multiplier:1, $breakpoint:"" ,$important:""){
	$short-name:    	get-css-shortname($key);	 
  	$long-name:    		get-css-longname($key);	
  	$style:			    get-css-style($key);  
	@if $size-variation == null {
		@debug "size-loop mixin has errored. $size-variation can not be nulll";
	}
	@else{
		$sizes: map-get($values,$size-variation); 
		@if $debug-trace{ @debug $sizes;}
		@each  $val-name, $val in $sizes {
			$unit:0;
			@if ($val-name == 1 ){ $unit:1px }
			@else if ($val-name == n1){ $unit: -1px }
			@else{ $unit: $multiplier * $val;}

			#{ $long-name }_#{ $val-name }#{$breakpoint}{
				@include build-style($style, $unit, $important);
			}
		}		
	}
	@if $debug-trace{
		@debug "Size Loop Running #{$key}";
		@debug "Short Name #{$short-name}";
		@debug "Long Name #{$long-name}";

	}
}

@mixin get-sized-style( $key:null, $size-variation:null, $level:0,   $multiplier:1, $important:""){
	$style:			    get-css-style($key);
	$val: 			 	map-get( map-get( $values, $size-variation ), $level);
	$unit: 				$val * $multiplier;
	@include build-style($style, $unit, $important);
}

@mixin build-style( $style, $unit, $important:""){
	#{$style}: $unit #{$important};

}