/** 
	Strathmore
	Version 1.1
**/
// styleguide:ignore:start
$debug-trace:false;
$short-classnames:false;
$ms-base: 1rem; // needs to be in em's
// Setup Functions, Mixins, and Variables
@import "vendor/foundation-sites/util/util";
@import "helpers/functions/functions";
@import "helpers/mixins/mixins";
@import "vendor/modular-scale";
@import "config/config";

// Foundation
@import "vendor/foundation-sites/foundation";
@include foundation-everything();
// styleguide:ignore:end
// ACC Design Alterations
@import "base/base";
@import "components/components";
@import "structures/structures";
@import "utility-css/utility-css";
@import "reciepes/reciepes";
//StyleGuide
@import "styleguide/styleguide";



