/*
	Cards

	Build from the basicfoundation card utility classes can be added to make many variations on the theme.

	.card-divider.back_primary				- textures are slightly transparent so they can be colored with background-color classess
	.card-divider.back_secondary			- textures are slightly transparent so they can be colored with background-color classess
	.card-divider.back_highlight 		- textures are slightly transparent so they can be colored with background-color classess
	.card-divider.back_warning				- textures are slightly transparent so they can be colored with background-color classess
	.card-divider.back_alert					- textures are slightly transparent so they can be colored with background-color classess

	markup:
	<div class="card shadow_2 cell small-6 large-4" style="width: 300px;">
	  <div class=" font_slab border-top-left-square color_white font-size_3 padding_4 texture_dust {$modifiers}">
	    This is a header
	  </div>
	  <img src="https://picsum.photos/400/300">
	  <div class="card-section">
	    <h4>This is a card.</h4>
	    <p>It has an easy to override visual style, and is appropriately subdued.</p>
	  </div>
	</div>

	 sg-wrapper:
	 <div class="grid-x grid-margin-x grid-margin-y texture_light back_secondary-4">
	   <sg-wrapper-content/>
	 </div>

	Styleguide 40.1

 */
