/*
	Border Type

	Depends on base border module in _borders.css

	border_none           - none
	border_dotted         - dotted
	border_dashed         - dashed
	border_solid          - solid

	markup:
	<div class="{$modifiers} border_black border-width_1 padding_3">{$modifiers} border</div>

	Styleguide 103.1

 */
.border_dotted,.border_dashed,.border_solid,.border_none{border-width:0;}
.border_dotted { border-style: dotted; }
.border_dashed { border-style: dashed; }
.border_solid {  border-style: solid; }
.border_none {   border-style: none; }

@media #{$medium-up} {
  .border_dotted-ns { border-style: dotted; }
  .border_dashed-ns { border-style: dashed; }
  .border_solid-ns {  border-style: solid; }
  .border_none-ns {   border-style: none; }
}

@media #{$medium-only} {
  .border_dotted-m { border-style: dotted; }
  .border_dashed-m { border-style: dashed; }
  .border_solid-m {  border-style: solid; }
  .border_none-m {   border-style: none; }
}

@media #{$large-up} {
  .border_dotted-l { border-style: dotted; }
  .border_dashed-l { border-style: dashed; }
  .border_solid-l {  border-style: solid; }
  .border_none-l {   border-style: none; }
}



/*
  Border Color
  Border black has attached alpha 
 
  border_primary            - border color
  border_secondary             - border color
  border_alert             - border color
  border_warning             - border color
  border_info            - border color
  border_highlighted             - border color

 
  markup:
  <div class="{$modifiers} padding_3 border_solid border-width_3">{$modifiers} border</div>
 
  Styleguide 103.2
 
 */


/*
  Border Alpha Black
 
  Border black has attached alpha modifiers to allow for greater flexablity 
 
  border_black             - border black with alpha of 100%
  border_black-1             - border black with alpha of 90%
  border_black-2             - border black with alpha of 80%
  border_black-3             - border black with alpha of 70%
  border_black-4             - border black with alpha of 60%
  border_black-5             - border black with alpha of 50%
  border_black-6             - border black with alpha of 40%
  border_black-7             - border black with alpha of 30%
  border_black-8             - border black with alpha of 20%
  border_black-9             - border black with alpha of 10%
  border_black-0             - border black with alpha of 2%
 
  markup:
  <div class="{$modifiers} padding_3 border_solid border-width_5 back_primary-1 color_white">{$modifiers} border</div>
 
  Styleguide 103.2.1
 
 */
 
 /*
  Border Alpha White
 
  Border white has attached alpha modifiers to allow for greater flexablity 
 
  border_white             - border white with alpha of 100%
  border_white-1             - border white with alpha of 90%
  border_white-2             - border white with alpha of 80%
  border_white-3             - border white with alpha of 70%
  border_white-4             - border white with alpha of 60%
  border_white-5             - border white with alpha of 50%
  border_white-6             - border white with alpha of 40%
  border_white-7             - border white with alpha of 30%
  border_white-8             - border white with alpha of 20%
  border_white-9             - border white with alpha of 10%
  border_white-0             - border white with alpha of 2%
 
  markup:
  <div class="{$modifiers} padding_3 border_solid border-width_5 back_primary-1 color_white">{$modifiers} border</div>
 
  Styleguide 103.2.2
 
 */
 
 
.border_black{ border-color:$black;}
.border_black-1{ border-color:rgba($black,.9);}
.border_black-2{ border-color:rgba($black,.8);}
.border_black-3{ border-color:rgba($black,.7);}
.border_black-4{ border-color:rgba($black,.6);}
.border_black-5{ border-color:rgba($black,.5);}
.border_black-6{ border-color:rgba($black,.4);}
.border_black-7{ border-color:rgba($black,.3);}
.border_black-8{ border-color:rgba($black,.2);}
.border_black-9{ border-color:rgba($black,.1);}
.border_black-0{ border-color:rgba($black,.02);}

.border_white{ border-color:$white}
.border_white-1{ border-color:rgba($white,.9);}
.border_white-2{ border-color:rgba($white,.8);}
.border_white-3{ border-color:rgba($white,.7);}
.border_white-4{ border-color:rgba($white,.6);}
.border_white-5{ border-color:rgba($white,.5);}
.border_white-6{ border-color:rgba($white,.4);}
.border_white-7{ border-color:rgba($white,.3);}
.border_white-8{ border-color:rgba($white,.2);}
.border_white-9{ border-color:rgba($white,.1);}
.border_white-0{ border-color:rgba($white,.02);}
 


.border_transparent{border-color:transparent;}


/*
	Border Radius

	Apply border radius to objects by adding full or partial classes for border-radius

	border-radius_square           - All square
	border-radius_radius        - All with $global-radus
	border-radius_round         - All corners with 99(px)
	border-radius_circle          - All corders at 100%
	border-top-left-radius_square           - top-left square
	border-top-left-radius_radius        - top-left with $global-radus
	border-top-left-radius_round         - top-left corners with 99(px)
	border-top-left-radius_circle          - top-left corders at 100%
	border-bottom-left-radius_square           - bottom-left square
	border-bottom-left-radius_radius        - bottom-left with $global-radus
	border-bottom-left-radius_round         - bottom-left corners with 99(px)
	border-bottom-left-radius_circle          - bottom-left corders at 100%


	markup:
	<div class="{$modifiers} padding_3 border_black border_solid border-width_2">{$modifiers} border</div>

	Styleguide 103.3

 */


@include size-loop(border-radius, border-radius,1);
@include size-loop(border-top-right-radius, border-radius,1);
@include size-loop(border-top-left-radius, border-radius,1);
@include size-loop(border-bottom-right-radius, border-radius,1);
@include size-loop(border-bottom-left-radius, border-radius,1);

@each  $val-name, $val in  map-get($values,border-radius){
  .#{$val-name}{
      &,.switch-paddle,.switch-paddle::after{
        border-radius: $val;
      }
  }
}



/*
  Border Colors
 
  Border black has attached alpha   

  border_primary            	- border color primary
  border_alert            	- border color alert
  border_warning            	- border color warning
  border_success            	- border color success
  border_primary-1             - border color mixed with white
  border_primary-2             - border color mixed with white
  border_primary-3             - border color mixed with white
  border_primary-4             - border color mixed with white
  border_primary-5             - border color mixed with white
  border_primary-n1             - border color mixed with black
  border_primary-n2             - border color mixed with black
  border_primary-n3             - border color mixed with black
  border_primary-n4             - border color mixed with black
  border_primary-n5             - border color mixed with black 

  markup:
  <div class="{$modifiers} padding_3 border_solid border-width_1 color_white">{$modifiers} border</div>
 
  Styleguide 103.4
 
 */
 
@each $color-name, $hex-value in $acc-palette{
  @include color-loop(border-color, $color-name,$hex-value);
}


/*
  Border Width
 
  Manipulation of borders with thisese classes either all border or with single borders   

  border-width_0            	- all border with no border
  border-width_1            	- all borders with 1px
  border-width_2            	- all borders with .125rem
  border-width_3            	- all borders with .25rem
  border-width_4            	- all borders with .5rem
  border-width_5            	- all borders with rem
  border-left-width_0.border-width_1            	- left border with no border
  border-left-width_1.border-width_1            	- left borders with 1px
  border-left-width_2.border-width_1            	- left borders with .125rem
  border-left-width_3.border-width_1            	- left borders with .25rem
  border-left-width_4.border-width_1            	- left borders with .5rem
  border-left-width_5.border-width_1            	- left borders with rem


  markup:
  <div class="{$modifiers} padding_3 border_solid border_black color_black">{$modifiers} border</div>
 
  Styleguide 103.5
 
 */


@include size-loop(border-width, positive,.5rem);
@include size-loop(border-top-width, positive,.5rem);
@include size-loop(border-right-width, positive,.5rem);
@include size-loop(border-left-width, positive,.5rem);
@include size-loop(border-bottom-width, positive,.5rem);



