 /*
  Hover:Backgrounds
 
  hovers can easily be added to objects

  hover_background-color_alert              - background color modified light to dark
  hover_background-color_primary              - background color modified light to dark
  hover_background-color_secondary              - background color modified light to dark
  hover_background-color_info              - background color modified light to dark
  hover_background-color_highlight              - background color success color
  hover_background-color_success              - background color modified light to dark
  hover_background-color_warning              - background color modified light to dark

  markup:
  <div class="grid-x margin_5">
    <div class="{$modifiers}-5 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2">5</div>
    <div class="{$modifiers}-4 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2">4</div>
    <div class="{$modifiers}-3 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2">3</div>
    <div class="{$modifiers}-2 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2">2</div>
    <div class="{$modifiers}-1 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2">1</div>
    <div class="{$modifiers}-0 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2">0</div>
    <div class="{$modifiers}-n1 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2 H_text_white">n1</div>
    <div class="{$modifiers}-n2 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2 H_text_white">n2</div>
    <div class="{$modifiers}-n3 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2 H_text_white">n3</div>
    <div class="{$modifiers}-n4 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2 H_text_white">n4</div>
    <div class="{$modifiers}-n5 cell auto text-center border-width_1 border_solid border_secondary-4 padding_2 H_text_white">n5</div>
  </div>

 
  Styleguide 109.1
 
 */

%hover_transition,*[class^="hover_"],*[class^=" hover_"]{
  transition: all ease-out .75s;
}


@each $color-name, $color in $acc-palette{
    @include hover-loop(hover-bg, $color-name, $color);
    @include hover-loop(hover-text, $color-name, $color);

}



 /*
  Hover: Text 
 
  hovers can easily be added to objects

  hover_color_primary              - text color modified light to dark
  hover_color_secondary              - text color modified light to dark
  hover_color_info              - text color modified light to dark
  hover_color_highlight              - text color success color
  hover_color_success              - text color modified light to dark
  hover_color_warning              - text color modified light to dark
  hover_color_alert              - text color modified light to dark

  markup:
  <div class="grid-x margin_5">
    <div class="{$modifiers}-5 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1">5</div>
    <div class="{$modifiers}-4 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1">4</div>
    <div class="{$modifiers}-3 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1">3</div>
    <div class="{$modifiers}-2 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1">2</div>
    <div class="{$modifiers}-1 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1">1</div>
    <div class="{$modifiers}-0 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1">0</div>
    <div class="{$modifiers}-n1 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1 ">n1</div>
    <div class="{$modifiers}-n2 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1 ">n2</div>
    <div class="{$modifiers}-n3 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1 ">n3</div>
    <div class="{$modifiers}-n4 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1 ">n4</div>
    <div class="{$modifiers}-n5 cell auto font_bold back_secondary-3 font_4 font_slab text-center border-width_1 border-solid border_secondary-4 padding_1 ">n5</div>
  </div>

 
  Styleguide 109.2
 
 */

%hover_transition-in{
  transition: all ease-in .5s;
}

.hover_color_white.hover_color_black,.hover_black,.hover_white{
  @extend %hover_transition-in;

}
.hover_color_white:hover,.hover_white:hover{
  color:white;
}
.hover_color_black:hover,.hover_black:hover{
  color:black;
}

.hover_underline{
  text-decoration: none;
  &:hover{text-decoration: underline;}
}

 /*
  Hover: Underline 
 
  Sometimes is is needed to add an underline on a peice of text when it hovers.

  markup:
  <p class="font_1">
    Lorem ipsum dolor sit amet, 
    <span class="color_primary hover_underline hover_text_primary-n3">consectetur</span>
    adipisicing elit. 
    <span class="color_warning hover_underline hover_text_warning-n3">Tenetur, similique</span>. 
    Sapiente facilis ipsam unde, dolorem illo ullam, tempore quos maiores quaerat quibusdam voluptatibus laboriosam. Nisi 
    <span class="color_alert hover_underline hover_text_alert-n3">harum magni</span>
    aut nulla et.
  </p>

 
  Styleguide 109.3
 
 */
