/*
Anatomy

<h2>Anatomy of a Utility Class Name</h2>
The breakdown of the names for UCs follow a structured patter for easy muscle memory learning. 

  markup:
  <p class="font_2">All of the Class Names follow this ordered pattern of construction.</p>
  <ol class="font_1 font_bold margin_4 border_solid border-width_1 border_secondary-4 line-height_4" style="list-style-position: inside;">
      <li class="padding_2 color_success">State: Hover, Focus <em>limited usage</em></li>
      <li class="padding_2 color_primary">Class Name</li>
      <li class="padding_2 color_highlight">Value</li>
      <li class="padding_2 color_info">Modifier of Value</li>
      <li class="padding_2 color_info">Modifier of Responsive Application <em>limited usage</em></li>
  </ol>
  <div class="font_2">
      <div class="font_bold font_3">Example 1</div>
      <div class="font_1 margin-top_2">Make the background color primary modified by the shading of negative 2.</div>
      <div class="flex margin-top_3">
          <div class="flex_auto back_primary-3 padding_3">background-color</div>
          <div class="flex_auto back_warning-3 padding_3">_</div>
          <div class="flex_auto back_highlight-3 padding_3">primary</div>
          <div class="flex_auto back_alert-3 padding_3">-</div>
          <div class="flex_auto back_info-3 padding_3">n2</div>
      </div>
  </div>
  <div class="font_2">
      <div class="font_bold font_3">Example 2</div>
      <div class="font_1 margin-top_2">On this container make the padding-top equal to 1rem, the value of 4, when the
          screen is large.</div>
      <div class="flex margin-top_3">
          <div class="flex_auto back_primary-3 padding_3">padding-top</div>
          <div class="flex_auto back_warning-3 padding_3">_</div>
          <div class="flex_auto back_highlight-3 padding_3">4</div>
          <div class="flex_auto back_alert-3 padding_3">-</div>
          <div class="flex_auto back_info-3 padding_3">large</div>
      </div>
  </div>
  <div class="font_2">
      <div class="font_bold font_3">Example 3</div>
      <div class="font_1 margin-top_2">Alter the background on hover to a lighter value of alert</div>
      <div class="flex margin-top_3">
          <div class="flex_auto back_success-3 padding_3">hover</div>
          <div class="flex_auto back_warning-3 padding_3">_</div>
          <div class="flex_auto back_primary-3 padding_3">background-color</div>
          <div class="flex_auto back_warning-3 padding_3">_</div>
          <div class="flex_auto back_highlight-3 padding_3">alert</div>
          <div class="flex_auto back_alert-3 padding_3">-</div>
          <div class="flex_auto back_info-3 padding_3">1</div>
      </div>
  </div>
  <ol class="font_0 font_bold color_white margin_4 border_solid border-width_1 border_secondary-4 line-height_4" style="list-style-position: inside;">
      <li class="back_success padding_3">`hover` => the state of hover also could be `focus` </li>
      <li class="back_primary padding_3">`background-color` => style name</li>
      <li class="back_warning padding_3">`_` => Concept Divider think of this as an equal mark</li>
      <li class="back_highlight padding_3">`primary` => Concept Divider think of this as an equal mark</li>
      <li class="back_alert padding_3">`-` => Modifier Divider think of this as shift value or apply value when</li>
      <li class="back_info padding_3">`n2` => Modifier Values most follow a [n5 , n4, n3, n2, n1, {0 is
          default} , 1, 2, 3, 4, 5], or responsive [{small is defulat}, medium, large]</li>
  </ol>   

 Styleguide 100.1
*/