
 /*
	Opacity Levels

	Set the Opacity of an object.  Unlike the 

	.opacity_0                        - Opacity of 0%
	.opacity_1                        - Opacity of 10%
	.opacity_2                        - Opacity of 20%
	.opacity_3                        - Opacity of 30%
	.opacity_4                        - Opacity of 40%
	.opacity_5                        - Opacity of 50%
	.opacity_6                        - Opacity of 60%
	.opacity_7                        - Opacity of 70%
	.opacity_8                        - Opacity of 80%
	.opacity_9                        - Opacity of 90%
	.opacity_none                     - No Opacity

	markup:
	<div class="{$modifiers} border-width_1 border-solid border_white padding_2 back_warning color_white">{$modifiers}</div>

	sg-wrapper: 
	<div class="padding_4 back_primary">
		<sg-wrapper-content/>
	</div>

	Styleguide 105.1
 
 */
.opacity_0{ opacity:0;}
.opacity_1{opacity:.1;}
.opacity_2{opacity:.2;}
.opacity_3{opacity:.3;}
.opacity_4{opacity:.4;}
.opacity_5{opacity:.5;}
.opacity_6{opacity:.6;}
.opacity_7{opacity:.7;}
.opacity_8{opacity:.8;}
.opacity_9{opacity:.9;}
.opacity_none{opacity:1;}

 /*
	Opacity: Hover

	Set the Opacity of an object to 100% while hovered.

	.opacity_1.hover_opacity                        - Opacity of 10%

	markup:
	<div class="{$modifiers} border-width_1 border-solid border_white padding_2 back_warning color_white">{$modifiers}</div>

	sg-wrapper: 
	<div class="padding_4 back_primary">
		<sg-wrapper-content/>
	</div>

	Styleguide 105.2
 
 */
.hover_opacity{@extend %hover_transition;}
.hover_opacity:hover{
	opacity:1;
}

