/*
	Margin

	Margin classes are mobile first with postfix modifier for '-medium' and '-large' variations for responsive sizing.

	.margin_auto.small-6              - Margin 0 auto
	.margin_0              - All margins set to 0
	.margin_1.margin-top_0-large              - All margins set to 1px
	.margin_2.margin-top_0-large              - All margins set to 1/4 of global margin
	.margin_3.margin-top_0-large              - All margins set to 1/2 of global margin
	.margin_4.margin-top_0-large              - All margins set to global margin
	.margin_5.margin-top_0-large              - All margins set to 2x of global margin 
	.margin-top_4          - Top margin set to global margin
	.margin-right_4        - Right margin set to global margin
	.margin-left_4         - Left margin set to global margin
	.margin-bottom_4       - Bottom margin set to global margin
	.margin-top_n4          - Top margin set to  negative global margin
	.margin-right_n4        - Right margin set to  negative global margin
	.margin-left_n4         - Left margin set to negative  global margin
	.margin-bottom_n4       - Bottom margin set to negative  global margin



	markup:
	<div class="{$modifiers} padding_2  back_primary text-center color_white cell auto opacity_5">Container With Margins</div>

 	sg-wrapper:
	<div class="back_warning-3 clearfix grid-x border-width_1 border_solid">
	   <sg-wrapper-content/>
	</div>

	Styleguide 101.2

 */

//@mixin size-loop( $style-name:null , $size-variation:null ,$multiplier:null , $breakpoint:null )

.margin_auto{ margin:0 auto;}
@include loop-style(margin,"","");
@include loop-style(margin-top, "", "");
@include loop-style(margin-bottom,"","");
@include loop-style(margin-left, "", "");
@include loop-style(margin-right, "", "");

@media #{$medium-up} {
	@include loop-style(margin, $bp_medium, "");
	@include loop-style(margin-top, $bp_medium, "");
	@include loop-style(margin-bottom, $bp_medium, "");
	@include loop-style(margin-left, $bp_medium, "");
	@include loop-style(margin-right, $bp_medium, "");
}
@media #{$large-up} {
	@include loop-style(margin, $bp_large, "");
	@include loop-style(margin-top, $bp_large, "");
	@include loop-style(margin-bottom, $bp_large, "");
	@include loop-style(margin-left, $bp_large, "");
	@include loop-style(margin-right, $bp_large, "");
}

/*
	Padding CSS

	quickly alter the padding of an object 

	.padding_0              - All paddings set to 0
	.padding_1              - All paddings set to 1px
	.padding_2              - All paddings set to 1/4 of global padding
	.padding_3              - All paddings set to 1/2 of global padding
	.padding_4              - All paddings set to global padding
	.padding_5              - All paddings set to 2x of global padding 
	.padding-top_4          - Top padding set to global padding
	.padding-right_4        - Right padding set to global padding
	.padding-left_4         - Left padding set to global padding
	.padding-bottom_4       - Bottom padding set to global padding

	markup:
	<div class="{$modifiers} border_solid border_transparent back_alert-3  text-center"><div class="back_primary-5 text-center">Content With Padding</div></div>

	Styleguide 101.3

 */



@include loop-style(padding, "", "");
@include loop-style(padding-top, "", "");
@include loop-style(padding-bottom, "", "");
@include loop-style(padding-left, "", "");
@include loop-style(padding-right, "", "");

@media #{$medium-up} {
	@include loop-style(padding, $bp_medium, "");
	@include loop-style(padding-top, $bp_medium, "");
	@include loop-style(padding-bottom, $bp_medium, "");
	@include loop-style(padding-left, $bp_medium, "");
	@include loop-style(padding-right, $bp_medium, "");
}

@media #{$large-up} {
	@include loop-style(padding, $bp_large, "");
	@include loop-style(padding-top, $bp_large, "");
	@include loop-style(padding-bottom, $bp_large, "");
	@include loop-style(padding-left, $bp_large, "");
	@include loop-style(padding-right, $bp_large, "");
}
