/*
  Font Family

  You can change the features of the text with some simple use classes.

  .font_slab            -  Font Slab:  Used in X objects
  .font_normal          -  Font Normal:  Used in content            
  .font_display         -  Font Display: Used in headlines, buttons,       

  markup:
  <div class="{$modifiers} font_3">
    <div class="text_lowercase">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
    <div class="text_uppercase">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
  </div>

  Styleguide 102.1
 */
.font_slab,.font-family_slab{
   font-family: 'Roboto Slab', "Times New Roman",  'Lucida Bright', Georgia, serif !important;
}

.font_normal,.font-family_normal{
    font-family:'Muli','Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}
.font_display,.font-family_display{
    font-family:'Maven Pro','Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

/*
  Font Style

  You can change the features of the text with some simple use classes.

  .font-style_normal            - Sets font style to normal
  .font-style_italic            - Sets font style to italic      

  markup:
  <div class="{$modifiers} font-family_normal font_2">
    <div class="text_lowercase">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
    <div class="text_uppercase">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
  </div>

  Styleguide 102.2
 */
.font-style_normal{ font-style: normal !important;}
.font-style_italic{ font-style: italic !important;}






@include size-loop(line-height, line-height, 1);

@each $color-name, $hex-value in $acc-palette{
  @include color-loop(color, $color-name,$hex-value);
}
.color_white{color:$white;}
.color_black{color:$black;}
.color_inherit{color:inherit;}




/*
  Font Weight

  You can change the features of the text with some simple use classes.

  .font-weight_light            -  Light, 100
  .font-weight_regular          -  Regular, 400           
  .font-weight_bold             -  Bold, 900     

  markup:
  <div class="{$modifiers} font-family_normal font_2">
    <div class="text_lowercase">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
    <div class="text_uppercase">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
  </div>

  Styleguide 102.3
 */
.font-weight_light,.font_light{ font-weight: 100 !important;}
.font-weight_regular,.font_regular{ font-weight: 400 !important;}
.font-weight_bold,.font_bold{ font-weight: 900 !important;}



/*
  Font Size

  You can alter the size fo the font with 'font_x' 

  .font_5 - Largest
  .font_4 - Large
  .font_3 - Big
  .font_2 - Big-ish
  .font_1 - Slightly Bigger
  .font_0 - Default Size
  .font_n1 - Shrunk
  .font_n2 - small
  .font_n3 - smaller
  .font_n4 - even smaller
  .font_n5 - smallest

  markup:
  <div class="{$modifiers} font-family_normal">
    <div class="text_lowercase text-demo">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
    <div class="text_uppercase text-demo">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
  </div>

  Styleguide 102.4
 */

.font-size_0 ,.font_0 {
  font-size: ms(0)/1em * 1rem;
}

.font-size_1 ,.font_1 {
  font-size: ms(1)/1em * 1rem;
}

.font-size_2 ,.font_2 {
  font-size: ms(2)/1em * 1rem;
}

.font-size_3 ,.font_3 {
  font-size: ms(3)/1em * 1rem;
}

.font-size_4 ,.font_4 {
  font-size: ms(4)/1em * 1rem;
}

.font-size_5 ,.font_5 {
  font-size: ms(5)/1em * 1rem;
}
.font-size_10 ,.font_10 {
  font-size: ms(10)/1em * 1rem;
}

.font-size_n1,.font_n1 {
  font-size: ms(-1)/1em * 1rem;
}

.font-size_n2,.font_n2 {
  font-size: ms(-2)/1em * 1rem;
}

.font-size_n3,.font_n3 {
  font-size: ms(-3)/1em * 1rem;
}

.font-size_n4,.font_n4 {
  font-size: ms(-4)/1em * 1rem;
}

.font-size_n5,.font_n5 {
  font-size: ms(-5)/1em * 1rem;
}


.text-demo{white-space: pre-wrap;  letter-spacing: -.1em;}
.text_lowercase{ text-transform: lowercase;}
.text_uppercase{ text-transform: uppercase;}
.text-underline{ text-decoration: underline;}