/*
	Quicklinks

	small list navs used in header structures of websites.


	markup: 
	  <li class="quicklinks__item"><a href="#" class="quicklinks__link ">One</a></li>

	sg-wrapper:
	  <ul class="menu quicklinks">
	    <sg-wrapper-content/>
	    <sg-wrapper-content/>
	    <sg-wrapper-content/>
	    <sg-wrapper-content/>
	     <li class="quicklinks__item"><a href="#" class="quicklinks__link">End</a></li>
	  </ul>

	Styleguide 20.11
 */


.quicklinks{
	a:hover{
		background-color: get-themecolor(primary, 5);
		color:$black;
	}
}

.quicklinks__item{
	border-right:1px solid get-themecolor(primary, 1);
	padding:0 2px;
	&:last-child{border-right-width:0;}
} 
.quicklinks__item .quicklinks__link{
	padding-top:get-css-size(padding,2); ;
	padding-bottom:get-css-size(padding,2); ;
	@extend .font_n1;
	&:last-child{
		border-right:0;
	}
}