$teal:#198dae;
$dark-grey:#5a5c69;
$light-grey:#c5bfba;
$green:#09911f;
$orange:#e18725;
$red: #cb241c;
$blue:#4f74bf;
$green-alt:#509f6c;
$purple:#735dba;
$magenta:#c45e99;
$acc-blue:#00386b;

$acc-palette: (
  primary: $teal,
  secondary: $dark-grey,
  success: $green,
  warning: $orange,
  alert:$red,
  navigation: $blue,
  selected:$green-alt,
  info:$purple,
  hightlight:$magenta,
  acc:$acc-blue,
  secondaryalt: $light-grey
);




 /*
 
  Colors of the Design  

  Strathmore color is based off of the ACC Scrub Colors  

  back_primary                  - Scrub Teal used for primary colors often this color is swapped out for the product color of the product. This color can be found on most UI items. 
  back_secondary                  - Grey used secondary colors and secondary actions
  back_navigation         - Scrub Blue reserved for navigation items. IE next, previous, forard, back buttons. 
  back_info                   - Scrub Magenta for information 
  back_hightlight                 - Scrub Purple used for highlighting 
  back_success                  - Action color for Success and Complete
  back_warning                  - Action color for warnings
  back_alert                    - Action colors for alerts and errors
  back_acc              - ACC Blue  

  markup:
  <div class="{$modifiers} cell auto text-center color_white padding_2">{$modifiers}</div>  

  Styleguide 0.4.0
 
 */