$debug-trace: true !default;

$margin_0:get-css-size(margin, 0);
$margin_1:get-css-size(margin, 1);
$margin_2:get-css-size(margin, 2);
$margin_3:get-css-size(margin, 3);
$margin_4:get-css-size(margin, 4);
$margin_5:get-css-size(margin, 5);
//$margin_0:get-css-size(margin, 0);
$margin_n1:get-css-size(margin, n1);
$margin_n2:get-css-size(margin, n2);
$margin_n3:get-css-size(margin, n3);
$margin_n4:get-css-size(margin, n4);
$margin_n5:get-css-size(margin, n5);

$padding_0:get-css-size(padding, 0);
$padding_1:get-css-size(padding, 1);
$padding_2:get-css-size(padding, 2);
$padding_3:get-css-size(padding, 3);
$padding_4:get-css-size(padding, 4);
$padding_5:get-css-size(padding, 5);

$border_square:0;
$border_radius:get-css-size(border-radius, radius);
$border_round:get-css-size(border-radius, round);
$border_circle:get-css-size(border-radius, circle);


$border-width_0:get-css-size(border-width, 0);
$border-width_1:get-css-size(border-width, 0);
$border-width_2:get-css-size(border-width, 0);
$border-width_3:get-css-size(border-width, 0);
$border-width_4:get-css-size(border-width, 0);
$border-width_5:get-css-size(border-width, 0);